<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../build/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="../build/nv.d3.js"></script>

    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        html, body, #test1, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>

<div id="test1" class='with-3d-shadow with-transitions'>
    <svg></svg>
</div>

<script>
	var zipped_data= {{x1}}
     var x2 = {{x2|tojson}}
     var x3= {{x3|tojson}}
     var abc ='';
     var dataset = [];

     for(i=0;i<zipped_data.length;i++)
             {
                dataset.push({"x":x2[i], "y":x3[i], "z": zipped_data[i]})
             }

	var dataset2=[];	
	dataset2.push({"key":"products", "values":dataset});


    // register our custom symbols to nvd3
    // make sure your path is valid given any size because size scales if the chart scales.
    nv.utils.symbolMap.set('thin-x', function(size) {
        size = Math.sqrt(size);
        return 'M' + (-size/2) + ',' + (-size/2) +
                'l' + size + ',' + size +
                'm0,' + -(size) +
                'l' + (-size) + ',' + size;
    });

    // create the chart
    var chart;
    nv.addGraph(function() {
        chart = nv.models.scatterChart()
            .showDistX(true)
            .showDistY(true)
            .useVoronoi(true)
            .color(d3.scale.category10().range())
            .duration(300)
        ;
        chart.dispatch.on('renderEnd', function(){
            console.log('render complete');
        });

        chart.xAxis.tickFormat(d3.format('40,50'));
        chart.yAxis.tickFormat(d3.format('-122,-118'));
		chart.useInteractiveGuideline(true);
		chart.interactiveLayer.tooltip.contentGenerator(function(d){console.log(d);return "<h1>"+d.series[0].data.z+"<h1>";});
        d3.select('#test1 svg')
            .datum(dataset2)
            .call(chart);

        nv.utils.windowResize(chart.update);

        chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });
        return chart;
    });


</script>
</body>
</html>